body {
  background-image: url("images/yellowbird.jpg");
}

.box {
  width: 10rem;
  height: 10rem;
  background: lightpink;
  position: absolute;
  margin: 1rem;

}

#box1 {
  position: absolute;
  background: gold;
  left: 10px;
  top: 100px;
  z-index: 1;
}

#box2 {
  position: absolute;
  background: limegreen;
  right: 10px;
  top: 2000px;
}

#box3 {
  position: absolute;
  background: cornflowerblue;
  z-index: 10;
}

#box4 {
  background: orange;
  z-index: 20;
  position: fixed;
  right: ;
}